*{
    margin: 0;
    padding: 0;
    font-family:'poppins', sans-serif ; 
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    /* here when you click on the nav bar your scroll will be very smoooth  */
}
body{
    background:linear-gradient(to right bottom, white, pink,white) ;     
   
    /* background-color: black; */
    /* color: #fff; */
}
.logo a{
    color: #ff004f;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(https://st.depositphotos.com/1011643/1248/i/450/depositphotos_12485614-stock-photo-asian-businesswoman-with-tablet-computer.jpg);
   
    
    background-size: contain;
     background-repeat: no-repeat;
     background-position: right;
    
    
    /* background-repeat: no-repeat;
    background-size: 500px;

    background-position: center; */
}

.container{
    padding: 10px 10%;
    /* for top and bottom and left and right  */
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    width: 160px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #ff004f;
   
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/* now we want the hover effects on these links */
nav ul li a::after {
    content: '';
    width: 0;
    /* width ko zero kerny se hidden ho jaye ga  */
    height: 3px;
    background:  rgb(209, 85, 13);
    position: absolute;
    /* yahan position absolute hai tw <a> tag mein position ko relative bna diya jaye ga  */
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 28px;
    color: black;
     
    
}
.header-text p{
    color: rgb(209, 85, 13);
}

.header-text h1 span{
    color: #ff004f;
   
}
/* about */
#about{
    padding: 80px 0;
    /* color: #ababab; */
    color: black;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    /* it means the width of the column will be 35% */
}
.about-col-1 img{
    width: 80%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
  vertical-align: top;
  
    .sub-title{
        font-size: 60px;
        font-weight: 600;
        color: #ff004f;
    }
    /* background-image: url(anim3byphotoscape.gif) ; */
    /* background-size: contain; */
    /* background-size: cover; */
    
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
    /* 20 top 0 left and right and 40 for bottom  */
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;
    position: relative;

}
.tab-links::after{
    content: '';
    width: 0;
    /* yahan phir se width 0 rakhi hai ta k wahan 100% kr sky effect k liye  */
    height: 3px;
    background:#ff004f ;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after {
    width: 50%;
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0; 
}
.tab-content ul li span{
    color: #b54769;
    font-size: 15px;
}
.tab-content{
    display: none;
    /* here all the skills experience and education is hidden after eritting this  */
}
.tab-content.active-tab{
    display: block;
    /* now it will be visible */
}
/* now we are gnna make a click system for revealing the content on click whenever we need it  */
    /* services */
    #services{
        padding: 30px 0;

    }
    .services-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
        background-color: #262626;
        padding: 15px;
        font-size: 20px;
        font-weight: 600;
        color: white;
        transition: background 0.5s, transform 0.5s;
        /* div mein hmne transition ki state ko explain kia hai or hover mein effect dala hai transform ka  */
   border-radius: 20px;
    }
    .services-list a{
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        margin-top: 20px;
    }
    .services-list:hover{
        background: #ff004f;
        transform: translateY(-10px); 
        /* is transform se wo div upper ko move kre ga  */
    }
    #portfolio{
        padding: 50px 0;

    }
    .work-list{
        display: grid;
        /* display grid is a vital attribute which keeps the divs in the same line  */
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }
    .work{
        border-radius: 10px;
        position: relative;
        /* overflow: hidden; */
        /* yahan overflow hidden ki technique bhi kaafi crucial hai  jab us image ki width or height 100% kren gy tw effect sirf image per aye ga */
    }
   .work  img{
    transition: 0.3s;
    width: 80%;
    height: 100%;
    border-radius: 12px;
   }
   .work img:hover{
    transform: scale(1.2) ;
   }
    .layer{
        width: 80%;
        height: 0%;
        /* ye height 100% se zero kr den gy ta k jab isko dubara 100% kren tw hi effect reveal hoga is k uper se  */
        background: linear-gradient(rgba(0 ,0 ,0, 0.6), #ff004f);
        border: 10px;
        border-radius: 8%;
        position: absolute; 
        /* qk iski parent div ko hmne relative kr diya hai */
        left: 0;
        bottom: 0; 
        /* is se wo div k bilkul hi uper ajaye ga  */
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center; 
        /* uper walon ko center krny se hme aik div ka sara content 2nd div k bilkul hi uper mily ga center mein  */
        flex-direction: column;
        /* display flex bhi hota hai or flex-direction bhi aik chiz hoti hai jo direction ko control krny k liye use hoty hain  */
        /* layer wali div mein aik <h> or aik <p> tag mojod hai jo k column ki tarha vertical aik tarteeb mein ajye ga  */
        padding: 0 40px;
        text-align: center;
        font-size: 14px;
        transition: height 0.5s;
    }
    .layer h3{
        font-weight: 500;
        margin-bottom: 20px;
    }
    .layer a{
        margin-top: 20px;
        color: #ff004f;
        text-decoration: none;
        font-size: 18px;  
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
    }
    .work:hover .layer{
        height: 100%;
        /* is effect ko create krny k liye hme aik kam ye krna hai k .layer mein transition mein height or time likhna hai or oper height ko zero krna hai or hover mein height ko 100% kren gy tw is k oper effect generate ho jaye ga  */
     
    }
    .btn{
        display: block;
        margin: 50px auto;
        width: fit-content;
        border: 1px solid #ff004f;
        box-shadow: 0 0 10px #ff004f;
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
        color: #fff;
        transition: background 0.5s;
        /* this is the transition effect for background so must write background here and in hover effect also  */
    }
    .btn:hover{
        background: #ff004f;
        box-shadow: 0px 0px 50px #f80351;
      
    }
       /* css for contact  */
       .contact-left{
        flex-basis: 35%;
        /* here you are adding flex basis for both of the divs to connect them side by side  */
      
       }
       .contact-right{
        flex-basis: 50%;
       
       }
      
       .contact-left p {
        margin-top: 30px;
       }
       .contact-left p i{
        color: #ff004f;
        margin-right: 15px;
        font-size: 25px;
       }
       .social-icons{
        margin-top: 30px;
       }
       .social-icons a{
       
        text-decoration: none;
        font-size: 30px;
        margin-right: 30px;
        color: #ababab;
        display: inline-block;
        transition: transform 0.5s; 
        /* yahan transform is liye likha hai qk hover mein humne yhi property use ki hai  */
       }
       .social-icons a:hover{
        color: #ff004f;
        transform: translateY(-5px);

       }
       .btn.btn2{
    /* these two classes are written without any space  */
    display: inline-block;
    background-color: #ff004f;

       }
       /* form ki div ko hum css se style kr rahy hain  */
       .contact-right form {
        width: 100%;
       }
       form input, form textarea{
        /* adding css for both of these  */
        width: 100%;
        border: 0;
        outline: none;
        background: #262626;
        padding: 15px;
        margin: 15px 0;
        color: #fff;
        font-size: 18px;
        border-radius: 6px;
       }
       /* form .btn2{
        padding: 14px 60px;
        font-size: 18px;
        margin-top: 20px;
        cursor: pointer;
       } */
       /* .copywrite{
        text-align: center;
        
       } */
       .copywrite i{
color: #ff004f;
       }
       nav .fas{
        display: none;
        /* simply when you want to hide anything */
       }
       
         /* CSS FOR SMALL SCREEN  */
         /* to make this website responsive for small screen  */
         /* here's the media query  */
         @media only screen and (max-width: 600px){
            #header{
                /* now we are gonna replace the image with smaller version like png  */
     background-image: url(https://st.depositphotos.com/1011643/1248/i/450/depositphotos_12485614-stock-photo-asian-businesswoman-with-tablet-computer.jpg);
            }
            .header-text{
                margin-top: 100%;
                font-size: 16px;

            }
            .header-text h1{
                font-size: 30px;
            }
            nav .fas{
                display: block;
                font-size: 25px;
               
               }
               nav ul{
                background-color: #47d2eb;
                position: fixed;
                top: 0;
                right: -200px;
                /* here we are adding -200 instead of right 0 ; because the width is 200px  */
                width: 200px;
                height: 100vh;
                padding-top: 50px;
                z-index: 2;
                /* a new property is z-index  */
                transition: right 0.5s;
               }
               nav ul li{
                display: block;
                margin: 25px;
               }
               nav ul .fas{
                position: absolute;
                top: 25px;
                left: 25px;
                cursor: pointer;
               }
               .container{
         width: 300px;
       
               }
               .sub-title{
                font-size: 20px;
                /* here we have reduced the size of font when the website is responsive */
               }
               .about-col-1, .about-col-2{
                flex-basis: 100%;
                /* this thing has just increased the size of the image of about me  */
               }
               .about-col-1{
                margin-bottom: 30px;
                /* this is some space from the image  */
               }
               .about-col-2{
                font-size: 14px;
               }
               /* css on responsive skills experience and education  */
.tab-links{
    font-size: 15px;
    margin-right: 20px;
}
.contact-left, .contact-right{
    flex-basis: 100%;
}

.copywrite{
    font-size: 14px;
}

 }
  #services , .logo , #about ,.header-text{
    animation: fade-in 4s;
    animation-delay: 2s;
    transform: scale(1.0);
 }
 
@keyframes fade-in {

    from{
   opacity: 0;
    }
        to {
        opacity: 1;
        }   
} */
#msg{
    color: #ff004f;
    margin-top: -20px;
    display: block;
    
}
.social-icons a{
       
    text-decoration: none;
    font-size: 24px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s; 
    /* yahan transform is liye likha hai qk hover mein humne yhi property use ki hai  */
   }

 
/* .gif{
    display: flex;
    justify-content: center;
    align-items: center;
} */